.headerContainer {
    height: 50px;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 24px;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

.searchBar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 15px;
    margin-left: 15px;
}

.searchInput {
    border: none;
    padding: 3px;
    width: 80%;
    margin-left: 10px;
}

.searchInput:focus {
    outline: none;
}

.headerLeft {
    flex: 3;
}

.headerCenter {
    flex: 5;
}

.headerRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.reactLink {
    text-decoration: none;
}

.headerLink {
    margin-right: 10px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.headerIcons {
    display: flex;
}

.headerIcon {
    font-size: 20px;
    color: black;
    background-color: rgb(237, 237, 237);
    padding: 5px;
    border-radius: 50%;
}

.headerIconItem {
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

.headerIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerImage {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}