.rightBar {
    flex: 3;
    cursor: pointer;
    overflow-x: scroll;
}

.rightBarWrapper {
    padding: 20px 20px 0 0;
}

.birthdayContent {
    display: flex;
}

.birthdayImg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.birthdayText {
    font-weight: 300;
    font-size: 15px;
}

.rightBarAdImg {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.onlineFriendsList {
    padding: 0;
    margin: 0;
    list-style: none;
}