.rightBar {
    flex: 3;
    cursor: pointer;
}

.rightBarWrapper {
    padding: 20px 20px 0 0;
}

.birthdayContent {
    display: flex;
}

.birthdayImg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.birthdayText {
    font-weight: 300;
    font-size: 15px;
}

.rightBarAdImg {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.onlineFriendsList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.onlineFriendItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.friendsImgContainer {
    margin-right: 10px;
    position: relative;
}

.friendsProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.onlineBadge {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    right: -2px;
    right: 0;
    border: 1px solid white;
}

.onlineFriendName {
    font-weight: bold;
}