.sideBar {
    flex: 3;
    height: 100vh;
}

.sideBarWhapper {
    padding: 20px;
}

.sideBarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sideBarItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}